<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sporcle Circle Generator</title>
  <link rel="icon" type="image/x-icon" href="/Favicon.ico">
  <script defer src="/_vercel/insights/script.js"></script>
</head>
<body style="background-color:#fcd5b1; text-align:center">
  <h1>Circle Coordinate Generator</h1>
  <form method="POST">
        <input type="text" name="centerx" placeholder="X coordinate of circle center (e.g. 100)" style="width: 300px;" required><br>
        <input type="text" name="centery" placeholder="Y coordinate of circle center (e.g. 100)" style="width: 300px;" required><br>
        <input type="text" name="radius" placeholder="Radius of circle (e.g. 20)" style="width: 300px;" required><br>
        
        <button type="submit" style="border: none; outline: none; border-radius: 20px; background: linear-gradient(to right, orange, gold); height: 30px; width: 300px;>Make Circle Coordinates</button>
    </form>

  {% if result %}
      <pre id="myInput" style="background: #f4f4f4; padding: 10px; white-space: pre-wrap; word-wrap: break-word;">{{ result }}</pre>
      <button onclick="copyFunction()" style="border: none; outline: none; border-radius: 20px; background: linear-gradient(to right, orange, gold); height: 30px; width: 300px;>Copy Coordinates</button>
  {% endif %}
  
  <script>
      function copyFunction() {
        var copyText = document.getElementById("myInput");
        if (copyText) {
          navigator.clipboard.writeText(copyText.innerText);
          alert("Copied coordinates!");
        } else {
          alert("Nothing to copy yet! Please generate coordinates first.");
        }
      }
  </script>

</body>
</html>
