<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body style="background-color:#fcd5b1; text-align:center">
  <h1>Circle Coordinate Generator</h1>
  <form method="POST">
        <input type="text" name="centerx" placeholder="X coordinate of circle center (e.g. 100)" style="width: 300px;" required><br>
        <input type="text" name="centery" placeholder="Y coordinate of circle center (e.g. 100)" style="width: 300px;" required><br>
        <input type="text" name="radius" placeholder="Radius of circle (e.g. 20)" style="width: 300px;" required><br>
        
        <button type="submit">Make Circle Coordinates</button>
    </form>
  {% if result %}
        <div><pre style="background: #f4f4f4; padding: 10px;">{{ result }}</pre></div>
    {% endif %}
</body>
</html>
